<!--
<h2>My Info</h2>
<ul class="infos">
  <li
    *ngFor="let info of infos"
    [class.selected]="info === selectedInfo"
    (click)="onSelect(info)"
  >
    <span class="badge">{{ info.id }}</span> {{ info.name }}
  </li>
</ul>

<div *ngIf="selectedInfo">
  <h2>{{ selectedInfo.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedInfo.id }}</div>
  <div>
    <label for="hero-name">Info name: </label>
    <input id="hero-name" [(ngModel)]="selectedInfo.name" placeholder="name" />
  </div>
</div>
-->
